/**
 * Modified by Rem Yang, Aug 13 2020
 */

html { overflow: hidden; height: 100%; }
body { overflow: auto; height: 100%; }

/* general styles */
#root {
    margin-bottom: 3rem;
}

.base--hr {
    margin-top: 1em;
}

.arrow-box-container {
    position: relative;
}

sup {
    vertical-align: super;
    font-size: 0.8rem;
}

/* override strange defaults in chrome */
dialog, dd, dt {
    position: static;
    display: block;
    border: 0;
    padding: 0;
}

form {
    margin-top: 0;
}

/* drag-drop styles */
._container {
    position: relative;
}
.base--checkbox + label, .base--radio + label, .prism {
    position: static;
}
.drop-info-container {
    position: absolute;
    display: none;
    /* This div also gets our container classnames in order to be the correct width.
    But, it isn't exactly correct until we fiddle with the padding */
    padding-right: 1rem;
}

.dropzone.dropzone-active .drop-info-container,
.dropzone.dropzone-reject .drop-info-container {
    display: block;
}

.drop-info {
    background-color: white;
    opacity: 0.9;
    padding: 60px;
    min-height: 800px;
    border: 10px dashed #959595; /* gray_40 */
    border-radius: 10px;
    z-index: 1;
}
.drop-info h1 {
    font-size: 60px;
}
.drop-info p {
    font-size: 30px;
}
.dropzone.dropzone-reject .drop-info{
    background-color: #E71D32; /* red_50 */
}

/* settings */

.base--input {
    border: 2px solid #464646;
}

.base--input:hover, .base--input:focus {
    border-width: 2px;
}

.flex > * {
    margin: 6px 6px 0 0;
}
.flex > *:last-child {
    margin-right: 0;
}

@media (min-width: 1024px) {
    .flex {
        display: flex;
    }
    .flex > * {
        flex: 1;
        margin: 0 6px 0 0;
    }
    .flex > *:last-child {
        margin-right: 0;
    }
    .base--input, .base--select {
        max-width: 100%;
    }
}

.base--button:focus {
  outline: 0;
}


.base--button.mic-active {
    background-color: #E71D32;
    color: white;
    border-color: #E71D32
}

.speaker-labels {
    margin-left: 0px;
}

/* Speaker View styles */
.speaker-labels dt {
    font-weight: bold;
    display: inline;
}
.speaker-labels dd {
    display: inline;
}

/* JSONView styles */
.jsonview .options > div {
    display: inline-block;
}
.jsonview .options > div > div {
    display: inline-block;
    margin-right: 1em;
}
.jsonview .options div:before {
    display: none;
}
.json-link--span code {
    word-wrap: break-word;
}

/* Word Timings and Alternatives view styles */
.word-timings-alternatives .word {
    padding-right: 1ex; /*I tried just putting a space in the HTML, but chrome and safari hide it :( */
    display: inline-block;
    margin-top: 0;
}

.smalltext { font-size: 10pt; }

.gdpr-info {
	font-size: 10pt;
	margin-top: 1em;
}

.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 51%;
    margin: auto;
    margin-top: 0.5rem;
}

.aspect-ratio iframe {
    position: absolute;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
}

.tab-panels--tab-content {
    padding-top: 1rem;
    min-height: 22vh;
    max-height: 22vh;
    overflow: scroll;
}

ul.tab-panels--tab-list, ul.tab-panels--tab-list * {
    height: 2.4rem;
    line-height: 1.2rem;
    font-weight: bold;
}

.tab-panels--tab.active {
    border-bottom: 2px solid #9855d4;
}

mark {
    background-color: yellow;
}
